<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51679083046-rmi6pf6ke5ql6lhm933sq37jbhsam59r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51679083046-rmi6pf6ke5ql6lhm933sq37jbhsam59r</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ2eVDc7iy-1qmQUoPklJNy44VLDzK80s</string>
	<key>GCM_SENDER_ID</key>
	<string>51679083046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magicspace.fmp</string>
	<key>PROJECT_ID</key>
	<string>multiapp-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>multiapp-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51679083046:ios:8746dae35013d8cfb044e7</string>
</dict>
</plist>